@import 'basics.css';

body {
  background-image: url("/assets/adam.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

main {
  display: flex;
  position: relative;

  margin-top: 5em;
  /* transform: translate(15%, 0%); */
  min-height: 75vh;

  justify-content: center;
  align-content: center;
}

#mainBox {
  padding: 1em;
  border: 3px solid var(--border-color);
  background: var(--faded-background-dark);
  display: block;
  width: auto
}

.obj {
  color: var(--color2);
}

.cnt {
  color: var(--color-primary);
}
