@import 'basics.css';

* {
  color: white;
}

body {
  background-image: url(/assets/music.gif);
  background-size: cover;
  padding: 5px;
}

.tapes {
  text-align: center;
  img {
    width: 200px;
  }
}

.lyric {
  position: absolute;
  z-index: -1;
  text-align: right;
  font-size: 12px;
  opacity: 40%;
  top: 0;
  right: 0;
}

#bio-box {
  /* margin: 5px; */
  padding: 10px;
  border: 3px solid black;
  width: 600px;
  background: rgba(18, 16, 16, 0.8);
  overflow: hidden;
  position: relative;

  .pfp {
    width: 128px;
    border: 3px solid black;
  }

  .eva01 {
    position: absolute;
    opacity: 0.6;
    overflow: hidden;
    right: 0;
    top: 0;
    scale: 1.2;
  }
}

#pfpAndTime {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: calc(128px + 8px);
  * { align-self: center}
  #myTime {
    margin-top: var(--default-padding-small);
  }
}

#links-container-title-div {
  display: flex;
  flex-direction: row;
  img { align-self: center; padding: var(--default-padding-medium) }
}
