@import 'basics.css';

* {
  color: white;
}

body {
  background-image: url(/assets/music.gif);
  background-size: cover;
}

.tapes {
  text-align: center;
  img {
    width: 200px;
  }
}

.lyric {
  position: absolute;
  z-index: -1;
  text-align: right;
  font-size: 12px;
  opacity: 40%;
  top: 0;
  right: 0;
}
