@import 'basics.css';

html {
  background-image: url(/assets/music.gif);
  background-size: cover;
  padding: 5px;

  height: 100%;
  margin: 0;
}

main {
  display: block;
  place-items: center;
  height: 100vh;
}

.tapes {
  text-align: left;

  img {
    width: 200px;
  }
}

.tape-img {
  width: auto;
  height: 400px;
  transition: filter 0.5s;
}

.tape-img:hover {
  filter: brightness(1.6);
}

#tape-container {
  display: inline-flex;
}

.section {
  padding-top: var(--default-section-padding-top);
  width: fit-content;

  display: grid;
  place-items: left;
}

.lyric {
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  text-align: right;
  font-size: 12px;
  opacity: 40%;
  top: 0;
  right: 0;

  p {
    color: var(--color-secondary);
  }
}

#bio-parent {
  display: grid;
  column-gap: var(--default-padding-medium);
  /* grid-template-columns: auto auto; */
  border: 3px solid rgv(255, 0, 0);
}

#bio-box {
  padding: 10px;
  border: 3px solid var(--border-color);
  background: rgba(18, 16, 16, 0.8);
  overflow: hidden;
  position: relative;
  width: 35em;

  h1,
  p {
    display: inline-flex;
    margin-top: var(--default-padding-small);
    margin-bottom: 0px;
    background-color: var(--faded-background);
    z-index: 2;
    position: relative;
  }

  .pfp {
    border: 3px solid var(--border-color);
  }

  .eva01 {
    position: absolute;
    opacity: 0.6;
    right: 0em;
    top: 0em;
    transform: translate(0%, -25%);
    z-index: 1;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
  }
}

#pfpAndTime {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: calc(128px + 8px);

  * {
    align-self: center
  }

  #myTime {
    margin-top: var(--default-padding-small);
  }
}

#contact {
  position: absolute;
  text-align: right;
  top: var(--default-padding-small);
  right: var(--default-padding-small);
  font-size: 3rem;
  z-index: 1;
  color: var(--color1);
  text-decoration: none;
}

#links-container-title-div {
  display: flex;
  flex-direction: row;

  img {
    align-self: center;
    padding: var(--default-padding-medium)
  }
}

#warning {
  padding: var(--default-padding-medium);
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(16, 12, 18, 0.9);
  z-index: 1000;

  div {
    margin: 20px;
    border: 5px solid var(--border-color);
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: var(--default-padding-medium);
    background-color: rgb(16, 12, 18);
    width: 40vw;
    align-self: center;
    text-align: center;

    #warning-button {
      display: inline-block;
      width: auto;
      height: auto;
      cursor: pointer;
    }
  }
}

#text-that-copes-to-clip {
  color: var(--blue-link-color);
}

button {
  background: unset;
  border: none;
}

button::hover {
  color: var(--color-secondary);
}

.center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--default-padding-medium);
}

.box {
  border: 3px solid var(--border-color);
  background: var(--faded-background-dark);
  margin: var(--default-padding-medium);

  .highlight {
    color: var(--color2)
  }
}

.chartWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.chartContainer {
  text-align: center;
}

table {
  width: 100%;
  text-align: start;
  table-layout: fixed;
  padding: var(--default-padding-medium);
}

td:nth-child(1) {
  width: 10%;
}

td:nth-child(2) {
  width: 15%;
}

td:nth-child(3) {
  text-align: center;
  width: 20%;
}

td:nth-child(4) {
  text-align: end;
  width: 15%
}