@import 'basics.css';

body {
  /* background-image: url("/assets/adam.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

main {
  display: flex;
  position: relative;

  margin-top: 5em;
  /* transform: translate(15%, 0%); */
  min-height: 75vh;

  justify-content: center;
  align-content: center;
}

#mainBox {
  position: relative;
  padding: var(--default-padding-medium);
  border: 3px solid var(--border-color);
  background: var(--faded-background-dark);
  display: block;
  width: auto
}

h2 {
  margin-top: var(--default-padding-medium-large);
  margin-bottom: var(--default-padding-small);
}

table {
  padding: 0;
}

td {
  padding-right: var(--default-padding-medium);
}

a,
del {
  position: absolute;
  right: var(--default-padding-medium);
}