<!DOCTYPE html> 
<html>
    <head>
      <meta charset="utf-8">
        <title>{{config.title}}</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
    </head>


    <body class="crt">
        <header><h1>Ascent to Heaven</h1></header> 
        <main>
            <div class="box main-page"><p>We are currently undergoing maintenence, check back at a later time</p></div>
            <div class="tape-container">
                <a href="tapes/afut/"><img src="/assets/tape/afut.png" alt="" class="tape-img"></a>
                <a href="tapes/forhow/"><img src="/assets/tape/forhow.png" alt="" class="tape-img"></a>
                <a href="tapes/gwf/"><img src="/assets/tape/gwf.png" alt="" class="tape-img"></a>
                <a href="tapes/doubinf/"><img src="/assets/tape/doubinf.png" alt="" class="tape-img"></a>
            </div>
        </main>
        <div class="lyric">
            {{ section.content | safe }}
        </div>
    </body>
</html>
