<!DOCTYPE html> 
<html class="crt">
    <head>
      <meta charset="utf-8">
        <title>{{config.title}}</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
    </head>

    <script>
        if (/Mobi|Android|iPhone|iPad|iPod|Windows Phone/i.test(navigator.userAgent)) {
          console.log(navigator.userAgent);
            window.location.replace("https://kena.gay/blood/");
        } else {
          console.log(navigator.userAgent);
        }
    </script>

    <style>
      .tape-img {
      width: auto;
      height: 400px;
    }
    
    .tape-img:hover {
      height: 440px;
      filter:brightness(1.4);
    }
    
    .tape-container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 0px;
      height: 440px;
    }
    </style>


    <body>
        <header><h1>Ascent to Heaven</h1></header> 
        <main>
            <div class="box main-page"><p>We are currently undergoing maintenence, check back at a later time</p></div>
            <div id="bio-box">
                <div id="pfpAndTime"><img src="/assets/pfp.png" alt="Profile Photo" class="pfp"><div id="myTime"></div></div>
                <img src="/assets/eva01.png" alt="" class="eva01">
                <div id="bio-desc">
                    <h1>Kena</h1>
                    <p>At the end of it all, we still remain.</p>
                </div>
            </div>
            <div>
                <h3>This is my music shelf, have yourself a browse</h3>
                <div class="tape-container">
                    <a href="tapes/afut/"><img src="/assets/tape/afut.png" alt="" class="tape-img"></a>
                    <a href="tapes/forhow/"><img src="/assets/tape/forhow.png" alt="" class="tape-img"></a>
                    <a href="tapes/gwf/"><img src="/assets/tape/gwf.png" alt="" class="tape-img"></a>
                    <a href="tapes/doubinf/"><img src="/assets/tape/doubinf.png" alt="" class="tape-img"></a>
                </div>
            </div>
            <div>
                <div id="links-container-title-div">
                    <div class="has-tooltip"><h1 id="kenaImageDisplay">Friends of Kena</h1>
                        <div class="tooltip-box" id="kenaImageDisplayTooltipbox">
                            <h1>Hey! you can add my button to your own website if you'd like!</h1>
                            <code>&lt;a href="https://kena.gay/"&gt;&lt;img src="https://kena.gay/assets/nene88x31.png" alt="kena.gay"&gt;&lt;/a&gt;</code>
                        </div>
                    </div>
                </div>
                <a href="https://kernelkitty.it/"><img src="https://kernelkitty.it/homePage/imgs/siteImages/kernelKitty88x31.webp"></a>
            </div>
        </main>
        <div class="lyric">
            {{ section.content | safe }}
        </div>

        <script>
            const tooltip = document.getElementById('kenaImageDisplay');
            const tooltipBox = document.getElementById('kenaImageDisplayTooltipbox');
            let toggle = false;

            document.addEventListener('click', (event) => {
                if (tooltip.contains(event.target)) {
                    toggle = toggleVisibility(tooltipBox, toggle);
                    console.log("if");
                } else if (tooltipBox.contains(event.target)) {
                    tooltipBox.style.display = 'block';
                    toggle = true;
                    console.log("else");
                } else {
                    tooltipBox.style.display = 'none';
                    toggle = false;
                    console.log("else");
                }
            });

            function toggleVisibility(thingToToggle, ToggleState) {
                if (!ToggleState) {
                    thingToToggle.style.display = 'block';
                } else {
                    thingToToggle.style.display = 'none';
                }
                return !ToggleState;
            };

            const myTime = document.getElementById('myTime');

            function setTime() {
                let now = new Date();
                myTime.textContent = now.getUTCHours() +2 + ":" + now.getUTCMinutes().toString().padStart('2', '0');
                console.log("updated time");
            };
            setTime();
            setInterval(setTime, 1000);

        </script>
    </body>
</html>
