<!DOCTYPE html>
<html class="crt" id="html">

<head>
  <meta charset="utf-8">
  <title>{{config.title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
</head>

<script>
  if (/Mobi|Android|iPhone|iPad|iPod|Windows Phone/i.test(navigator.userAgent)) {
    console.log(navigator.userAgent);
    window.location.replace("https://kena.gay/blood/");
  } else {
    console.log(navigator.userAgent);
  }

</script>

<body>
  <div id="glare"></div>
  <div id="warning">
    <div>
      <h1>Ascent to Heaven</h1>
      <p>We are currently undergoing maintenence, check back at a later time or proceed with caution!</p>
      <p>!!!HUGE epilepsy warning!!!</p>
      <div id="warning-button">Proceed</div>
    </div>
  </div>
  <main>
    <button type="button" style="cursor: pointer; z-index: 20" onclick="
        const hiddenState = localStorage.getItem('fx') === 'true';
        const glare = document.getElementById('glare');

        if (hiddenState) {
          glare.style.display = 'block';
        } else {
          glare.style.display = 'none';
        }

        console.log(hiddenState);
        localStorage.setItem('fx', !hiddenState);
        ">
      Toggle blurr effect
    </button>
    <div id="bio-parent">
      <div id="bio-box">
        <div id="pfpAndTime"><img src="/assets/pfp.png" alt="Profile Photo" class="pfp">
          <p id="myTime"></p>
        </div>
        <img id="evangelion-no" src="/assets/eva01.png" alt="" class="eva01 float">
        <div id="bio-desc">
          <h1>Kena</h1>
          <p>At the end of it all, we still remain.</p>
        </div>
        <a id="contact" href="./contacts/">@</a>
      </div>
      <div id="playing-box">
        <h2 class="playing">I'm currently playing</h2>
        <a href="./saoirse/">
          <h3 class="playing" id="playing" style="color: rgba(255, 128, 70, 1);">untitled 04</h3>
        </a>
      </div>
    </div>
    <div class="section">
      <h3>This is my music shelf, have yourself a browse<br>(under construction)</h3>
      <div id="tape-container">
        <a href="tapes/afut/"><img src="/assets/tape/afut.png" alt="" class="tape-img"></a>
        <a href="tapes/forhow/"><img src="/assets/tape/forhow.png" alt="" class="tape-img"></a>
        <a href="tapes/gwf/"><img src="/assets/tape/gwf.png" alt="" class="tape-img"></a>
        <a href="tapes/doubinf/"><img src="/assets/tape/doubinf.png" alt="" class="tape-img"></a>
        <a href="tapes/forhow/"><img src="/assets/tape/mercWorld.webp" alt="" class="tape-img"></a>
      </div>
    </div>
    <div class="section">
      <div id="links-container-title-div">
        <div class="has-tooltip">
          <h1 id="kenaImageDisplay">Friends of Kena</h1>
          <div class="tooltip-box" id="kenaImageDisplayTooltipbox">
            <h1>Hey! you can add my button to your own website if you'd like!</h1>
            <code id="text-that-copes-to-clip">&lt;a href="https://kena.gay/"&gt;&lt;img
              src="https://kena.gay/assets/nene88x31.png" alt="kena.gay"&gt;&lt;/a&gt;</code>
          </div>
        </div>
      </div>
      <div id="button-container">
        <a href="https://kernelkitty.it/"><img
            src="https://kernelkitty.it/homePage/imgs/siteImages/kernelKitty88x31.webp"></a>
        <a href="https://sourcoatedsugar.neocities.org/">Zephyr</a>
        <a href="https://4x4.sh/"><img src="/assets/4x4.webp" alt=""></a>
      </div>
    </div>
  </main>
  <div class="lyric" id="lrc">
    {{ section.content | safe }}
  </div>

  <script>

    const playing = document.getElementById('playing');
    const lrc = document.getElementById('lrc');
    async function fetchLast() {
      try {
        const response = await fetch('https://saoirse.kena.gay/last/kena');
        if (!response.ok) throw new Error('Network response was not ok');
        const data = await response.json();
        playing.textContent = `${data.track} - ${data.artist}`;
        console.log(data);
      } catch (error) {
        console.error('Error:', error);
      }
    }
    fetchLast();


    const hiddenState = localStorage.getItem('fx') === 'true';
    const glare = document.getElementById('glare');
    toggleVisibility(glare, hiddenState)

    function toggleVisibility(thingToToggle, toggleState) {
      if (!toggleState) {
        thingToToggle.style.display = 'block';
      } else {
        thingToToggle.style.display = 'none';
      }
      return !toggleState;
    };

    const tooltip = document.getElementById('kenaImageDisplay');
    const tooltipBox = document.getElementById('kenaImageDisplayTooltipbox');
    let toggle = false;

    document.addEventListener('click', (event) => {
      if (tooltip.contains(event.target)) {
        toggle = toggleVisibility(tooltipBox, toggle);
      } else if (tooltipBox.contains(event.target)) {
        tooltipBox.style.display = 'block';
        toggle = true;
      } else {
        tooltipBox.style.display = 'none';
        toggle = false;
      }
    });

    const warningButton = document.getElementById('warning-button');
    const warning = document.getElementById('warning');

    warningButton.addEventListener('click', () => {
      toggleVisibility(warning, true);
      sessionStorage.setItem('warningDismiss', true);
    });

    const warningStatus = sessionStorage.getItem('warningDismiss');

    if (warningStatus) {
      toggleVisibility(warning, true);
    }


    const myTime = document.getElementById('myTime');

    function setTime() {
      let now = new Date();

      const opts = {
        hour: '2-digit',
        minute: '2-digit',
        hour12: false,
        timeZone: 'Europe/Stockholm',
      };
      myTime.textContent = new Intl.DateTimeFormat('en-GB', opts).format(now);
    };
    setTime();
    setInterval(setTime, 1000);

    const imageClipCopy = document.getElementById('text-that-copes-to-clip');
    imageClipCopy.addEventListener('click', () => {
      navigator.clipboard.writeText('<a href="https://kena.gay/"><img src="https://kena.gay/assets/nene88x31.png" alt="kena.gay"></a>')
        .then(() => console.log("Copied"))
        .catch((error) => console.log(error));
    });

    const eva = document.getElementById("evangelion-no");

    const random_eva = Math.floor(Math.random() * 3)
    switch (random_eva) {
      case 0:
        eva.src = "/assets/eva00.png";
        console.log("set eva00");
        break;
      case 1:
        eva.src = "/assets/eva01.png";
        console.log("set eva01");
        break;
      case 2:
        eva.src = "/assets/eva02.png";
        console.log("set eva02");
        break;
      default:
        eva.src = "/assets/eva02.png";
        console.log("Error")
    }

        // console.log("setting to eva01 because of unfinished work");
        // eva.src = "/assets/eva01.png";
  </script>
</body>

</html>