<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>{{config.title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
</head>

<html>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0">
</script>

<body>
  <div style="text-align: center;">
    <h1>All Time</h1>
    <div class="center">
      <div class="box">
        <h2>Favourite Album</h2>
        <h3 class="highlight" id="album">Marcurial World</h3>
        <p id="albumArtist">Magdalena Bay</p>
      </div>
      <div class="box">
        <h1>Favourite Artist</h2>
          <h2 class="highlight" id="artist">Magdalena Bay</h3>
      </div>
      <div class="box">
        <h2>Favourite Track</h2>
        <h3 class="highlight" id="track">Killing Time</h3>
        <p id="trackArtist">Magdalena Bay</p>
      </div>
    </div>
  </div>

  <div style="text-align: center;">
    <h1>Period Reports</h1>
    <div class="center charts">
      <div class="chartContainer box">
        <h1>Weekly</h1>
        <div class="chartWrapper"><canvas id="weekly" class="chart"></canvas></div>
      </div>

      <div class="chartContainer box">
        <h1>Monthly</h1>
        <div class="chartWrapper"><canvas id="monthly" class="chart"></canvas></div>
      </div>

      <div class="chartContainer box">
        <h1>Yearly</h1>
        <div class="chartWrapper"><canvas id="yearly" class="chart"></canvas></div>
      </div>
    </div>
  </div>
</body>

<script>
  async function setTop() {
    try {
      const albumRes = await fetch('https://saoirse.kena.gay/top/album/kena');
      const artistRes = await fetch('https://saoirse.kena.gay/top/artist/kena');
      const trackRes = await fetch('https://saoirse.kena.gay/top/track/kena');

      let album = await albumRes.json();
      let artist = await artistRes.json();
      let track = await trackRes.json();

      let headAlbum = document.getElementById('album')
      let headAlbumArtist = document.getElementById('albumArtist')
      let headArtist = document.getElementById('artist')
      let headTrack = document.getElementById('track')
      let headTrackArtist = document.getElementById('trackArtist')

      headAlbum.textContent = album.album;
      headAlbumArtist.textContent = album.artist;
      headArtist.textContent = artist.artist;
      headTrack.textContent = track.track;
      headTrackArtist.textContent = track.artist;
    } catch (err) {
      console.error(err);
    }
  }
  async function loadWeekly() {
    try {
      const response = await fetch('https://saoirse.kena.gay/weekly/kena');
      const weekly = await response.json();
      const artistCounts_unsorted = weekly.reduce((acc, item) => {
        const artist = item.artist;
        acc[artist] = (acc[artist] || 0) + 1;
        return acc;
      }, {});

      const sorted = Object.entries(artistCounts_unsorted)
        .filter(([_, count]) => count >= 3)
        .sort((a, b) => b[1] - a[1]);
      const artistCounts = Object.fromEntries(sorted);


      const ctx = document.getElementById('weekly');

      new Chart(ctx, {
        type: "doughnut",
        data: {
          labels: Object.keys(artistCounts),
          datasets: [{
            hoverOffset: 50,
            backgroundColor: [
              'rgba(245, 108, 60, 1)',
              'rgba(235, 158, 80, 1)',
              'rgba(250, 148, 70, 1)',
              'rgba(235, 128, 60, 1)',
              'rgba(245, 118, 60, 1)',
            ],
            data: Object.values(artistCounts)
          }]
        },
        options: {
          borderColor: 'rgb(143, 99, 231)',
          responsive: true,
          maintainAspectRatio: false,
          layout: {
            padding: 25
          },
          plugins: {
            legend: {
              display: false
            }
          }
        }
      });
      console.log(weekly);
    } catch (err) {
      console.error(err);
    }
  }
  async function loadMonthly() {
    try {
      const response = await fetch('https://saoirse.kena.gay/monthly/kena');
      const monthly = await response.json();

      const artistCounts_unsorted = monthly.reduce((acc, item) => {
        const artist = item.artist;
        acc[artist] = (acc[artist] || 0) + 1;
        return acc;
      }, {});

      const sorted = Object.entries(artistCounts_unsorted)
        .filter(([_, count]) => count >= 5)
        .sort((a, b) => b[1] - a[1]);


      const artistCounts = Object.fromEntries(sorted);


      const ctx = document.getElementById('monthly');

      new Chart(ctx, {
        type: "doughnut",
        data: {
          labels: Object.keys(artistCounts),
          datasets: [{
            hoverOffset: 50,
            backgroundColor: [
              'rgba(28, 225, 135, 1)',
              'rgba(38, 255, 175, 1)',
              'rgba(48, 185, 145, 1)',
              'rgba(48, 225, 135, 1)',
              'rgba(18, 185, 155, 1)',
            ],
            data: Object.values(artistCounts)
          }]
        },
        options: {
          borderColor: 'rgb(143, 99, 231)',
          responsive: true,
          maintainAspectRatio: false,
          layout: {
            padding: 25
          },
          plugins: {
            legend: {
              display: false
            }
          }
        }
      });
      console.log(monthly);
    } catch (err) {
      console.error(err);
    }
  }
  async function loadYearly() {
    try {
      const response = await fetch('https://saoirse.kena.gay/yearly/kena');
      const yearly = await response.json();
      const artistCounts_unsorted = yearly.reduce((acc, item) => {
        const artist = item.artist;
        acc[artist] = (acc[artist] || 0) + 1;
        return acc;
      }, {});

      const sorted = Object.entries(artistCounts_unsorted)
        .filter(([_, count]) => count >= 5)
        .sort((a, b) => b[1] - a[1]);

      const artistCounts = Object.fromEntries(sorted);

      const ctx = document.getElementById('yearly');

      new Chart(ctx, {
        type: "doughnut",
        data: {
          labels: Object.keys(artistCounts),
          datasets: [{
            backgroundColor: [
              'rgb(105, 205, 255)',
              'rgb(100, 215, 245)',
              'rgb(125, 245, 205)',
              'rgb(115, 225, 235)',
              'rgb(125, 235, 225)'
            ],
            hoverOffset: 50,
            data: Object.values(artistCounts)
          }]
        },
        options: {
          borderColor: 'rgb(143, 99, 231)',
          responsive: true,
          maintainAspectRatio: false,
          layout: {
            padding: 25
          },
          plugins: {
            legend: {
              display: false
            }
          }
        }
      });
      console.log(yearly);
    } catch (err) {
      console.error(err);
    }
  }

  setTop();
  loadWeekly();
  loadMonthly();
  loadYearly();

</script>

</html>