<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>{{config.title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
</head>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
<script type="module" src="/js/saoirse.js"></script>


{% if section.extra.background_image %}

<style>
  html {
    background-image: url('{{ get_url(path=section.extra.background_image) }}');
    background-size: cover;
  }
</style>

{% endif %}

<body>
  <div style="text-align: center;">
    <h1>All Time</h1>
    <div class="center">
      <div class="box">
        <h2>Favourite Album</h2>
        <h3 class="highlight" id="album">Marcurial World</h3>
        <p id="albumArtist">Magdalena Bay</p>
      </div>
      <div class="box">
        <h1>Favourite Artist</h1>
        <h2 class="highlight" id="artist">Magdalena Bay</h2>
      </div>
      <div class="box">
        <h2>Favourite Track</h2>
        <h3 class="highlight" id="track">Killing Time</h3>
        <p id="trackArtist">Magdalena Bay</p>
      </div>
    </div>

    <div style="text-align: center;">
      <h1>Period Reports</h1>
      <div class="center charts">
        <div class="chartContainer box">
          <h1>Weekly</h1>
          <h4 id="playtimeWeekly">Playtime: 0:00:00</h4>
          <div class="chartWrapper"><canvas id="weekly" class="chart"></canvas></div>
        </div>

        <div class="chartContainer box">
          <h1>Monthly</h1>
          <h4 id="playtimeMonthly">Playtime: 0:00:00</h4>
          <div class="chartWrapper"><canvas id="monthly" class="chart"></canvas></div>
        </div>

        <div class="chartContainer box">
          <h1>Yearly</h1>
          <h4 id="playtimeYearly">Playtime: 0:00:00</h4>
          <div class="chartWrapper"><canvas id="yearly" class="chart"></canvas></div>
        </div>
      </div>
    </div>

    <div class="box">
      <h1>All the music I've played this month.</h1>
      <input id="searchBar" type="text" name="Search" placeholder="Search...">
      <nav id="records">
        <table>
          <thead>
            <tr>
              <td>
                <h3 style="text-decoration: underline;">Artist</h3>
              </td>
              <td>
                <h3 style="text-decoration: underline;">Album</h3>
              </td>
              <td>
                <h3 style="text-decoration: underline;">Track</h3>
              </td>
              <td>
                <h3 style="text-decoration: underline;">Date</h3>
              </td>
            <tr>
          </thead>
          <tbody id="tbody">
          </tbody>
        </table>
      </nav>
    </div>
  </div>
</body>

</html>